@*
    product controller - index
*@

@* @model IEnumerable<Product>

@{
    ViewData["Title"] = "Ürünlerimiz";
}

<h1 class="display-4 text-center mt-5">
    Ürünlerimiz
</h1>

<partial name="_Products" />
 *@