@*
    Categories - Index (categoriden gelen verileri yansıtmak için açıldı)
*@
@model Category

@{
    ViewData["Title"] = Model.Name + " Kategori Detay";
}
<h1 class="display-4 text-center mt-5">
    @Model.Name is Category
</h1>

<partial name="_Products" model="Model.Products" /> @*category modeli çağırıldığı için model products yazdık - null referance hatası alınır*@
