@*
    Account - Access Denied - Bootstrap
*@
@{
    ViewData["Title"] = "Erişim Engellendi!";
}

<div class="alert alert-danger mt-lg-5">
    <h3>Erişim Engellendi!</h3>
    <h5>Ulaşmaya çalıştığınız sayfa için Erişim Yetkiniz Bulunmadığı için işleminiz Sınırlandırıldı!!!</h5>
</div>
