@*
    added for MainController to view - index
*@
@{
    ViewData["Title"] = "Admin Anasayfa";
}

<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Kategori :</div>
    <div class="card-body">
        <p class="card-text">Sistemde kayıtlı kategori sayısı : </p>
    </div>
</div>
<div class="card text-bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Ürün :</div>
    <div class="card-body">
        <p class="card-text">Sistemde kayıtlı ürün sayısı : </p>
    </div>
</div>
<div class="card text-bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Slider :</div>
    <div class="card-body">
        <p class="card-text">Sistemde kayıtlı slider sayısı : </p>
    </div>
</div>
<div class="card text-bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">Kullanıcı :</div>
    <div class="card-body">
        <p class="card-text">Sistemde kayıtlı kullanıcı sayısı : </p>
    </div>
</div>
